* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 210, 210);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 12fr 1fr;
}

header {
  padding: 5px;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  background-color: red;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-header {
  padding: 10px;
  background-color: yellow;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 70px 1fr;
}

.left-header > input {
  width: 90%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  grid-area: 1 / 1 / 2 / -1;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.left-header > .profile-icon {
  align-self: center;
  justify-self: center;

  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;

  grid-area: 2 / 1 / 4 / 2;
}

.left-header > p {
  font-size: 0.8em;
  align-self: flex-end;
  grid-area: 2 / 2 / 3 / -1;
}

.left-header > h1 {
  grid-area: 3 / 2 / 4 / -1;
  font-size: 1.3em;
}

.right-header {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.right-header > .profile-stuff {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 30px;
  align-items: center;
}

.right-header > .profile-stuff > .bell-icon {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.right-header > .profile-stuff > .profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: black;
}

.right-header > .profile-stuff > .profile-name {
}

.right-header > .profile-links-container > ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-header > .profile-links-container > ul > a {
  width: 5rem;
  height: 1.9rem;
  background-color: black;
  color: white;
  border-radius: 25px;
  font-size: 0.9rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: blueviolet;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding-left: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr;
}

.sidebar > .dashboard-title {
  background-color: tomato;
  height: 50px;

  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  grid-gap: 12px;
}

.sidebar > .dashboard-title > .dashboard-icon {
  background-color: black;
  height: 25px;
  width: 25px;
}

.sidebar > nav {
  padding-left:5px;
}

.sidebar > nav > .menu, .sidebar > nav > .utilities {
  margin-top: 40px;
  background-color: green;

  display: grid;
  list-style: none;
}

.sidebar > nav > .menu > li, .sidebar > nav > .utilities > li {
  border: 1px solid white;
  height: 40px;

  display: grid;
  align-items: center;
}

.sidebar > nav > .menu > li > a, .sidebar > nav > .utilities > li > a {
  display: block;
  width: 100%;
  height: 80%;

  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.sidebar > nav > .menu > li > a > div, .sidebar > nav > .utilities > li > a > div {
  background-color: black;
  width: 25px;
  height: 25px;
}

.sidebar > nav > .utilities {
  margin-top: 50px;
}

article {
  height: 100%;
  width: 100%;
  grid-row: 2 / -2;
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects-container {
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  background-color: red;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
}

.projects-container > h1 {
  font-size: 1.1rem;
  font-style: normal;

  grid-row: 1 / 2;
  display: grid;
  align-items: center;
}

.projects-container > .project-cards-container {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.project-card {
  background-color: grey;
  padding: 20px 10px 5px 15px;
  width: 225px;
  height: 130px;
  border-radius: 4px;
}

.project-card > .card-bio > h6 {
  font-size: 0.9rem;
}

.project-card > .card-bio > p {
  font-size: 0.7rem;
}

.project-card > .card-icons {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  grid-gap: 10px;
}

.project-card > .card-icons > * {
  border-radius: 25px;
}

.star-icon {
  background-color: white;
  width: 25px;
  height: 25px;
}

.eye-icon {
  background-color: black;
  width: 25px;
  height: 25px;
}

.share-icon {
  background-color: purple;
  width: 25px;
  height: 25px;
}

.social-media-container {
  padding: 15px;
  background: green;
  display: grid;
  grid-template-rows: minmax(200px, 1fr) minmax(150px, 1fr);
  grid-template-columns: minmax(250px, 1fr);
}

.social-media-container > .announcements-container {
  padding: 10px;
  padding-top: 0;
  background-color: indianred;
  width: 90%;
  height: fit-content;
}

.social-media-container > .announcements-container > p {
  height: 50px;
  display: grid;
  align-items: center;
}

.social-media-container > .announcements-container > .card {
  padding: 15px 20px 0px 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  background-color: white;
  border-radius: 5px;
}

.social-media-container > .announcements-container > .card > .card-part {
  display: grid;
  align-content: center;
}

.social-media-container > .announcements-container > .card > .card-part > h6 {
  font-size: 0.8rem;
}

.social-media-container > .announcements-container > .card > .card-part > p {
  font-size: 0.6rem;
}

.social-media-container > .trending-container {
  background-color: hotpink;
}

footer {
  background-color: brown;
  grid-row: -2 / -1;
  grid-column: 2 / -1;
}
