@font-face {
  font-family: Ubuntu;
  src: url('assets/ubuntu-font/Ubuntu-Regular.ttf')
}

/* TODO: 
        change color scheme to the normal color scheme
        add shadows
        add color changes on hover for text and cards

        profile pictures for my header profile pictures
        social media container, bold title and card distnace too large
        project cards size a bit weird (needs to be a bit bigger
        search bar
*/

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 2fr 12fr 0.5fr;
}

.project-card,
  header,
  .trending-cards-container, 
  .card {
    box-shadow: 0px 3px 4px 2px rgb(197, 197, 197);
    z-index: 0;
}

header {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  background-color: red;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-header {
  padding: 10px;
  background-color: aliceblue;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 70px 1fr;
}

.left-header > input {
  width: 90%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  grid-area: 1 / 1 / 2 / -1;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.left-header > .profile-icon {
  align-self: center;
  justify-self: center;

  width: 60px;
  height: 60px;
  background-image: url(../assets/profile-pics/profile-pic.jpeg);
  background-size: 100%;
  border-radius: 50%;

  grid-area: 2 / 1 / 4 / 2;
}

.left-header > p {
  font-size: 0.8em;
  font-weight: bold;
  align-self: flex-end;
  grid-area: 2 / 2 / 3 / -1;
}

.left-header > h1 {
  grid-area: 3 / 2 / 4 / -1;
  font-size: 1.3em;
}

.right-header {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.right-header > .profile-stuff {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 30px;
  align-items: center;
}

.right-header > .profile-stuff > .bell-icon {
  width: 20px;
  height: 20px;
}

.right-header > .profile-stuff > .profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 20px;

  background-image: url(../assets/profile-pics/profile-pic.jpeg);
  background-size: 100%;
}

.right-header > .profile-stuff > .profile-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.right-header > .profile-links-container > ul {
  list-style: none;
  height: 100%;
  width: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-header > .profile-links-container > ul > a {
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 50px;
  font-size: 0.9rem;

  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: blueviolet;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding-left: 15px;
  padding-top: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr;
  z-index: 2;
}

.sidebar > .dashboard-title {
  color: white;
  height: 50px;

  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  grid-gap: 12px;
  font-size: 1.4rem;
}

.sidebar > .dashboard-title > .dashboard-icon {
  height: 40px;
  width: 40px;
}

.sidebar > nav {
  padding-left: 5px;
}

.sidebar > nav > .menu,
.sidebar > nav > .utilities {
  margin-top: 40px;

  display: grid;
  list-style: none;
}

.sidebar > nav > .menu > li,
.sidebar > nav > .utilities > li {
  height: 40px;

  display: grid;
  align-items: center;
}

.sidebar > nav > .menu > li > a,
.sidebar > nav > .utilities > li > a {
  color: white;
  display: block;
  width: 100%;
  height: 80%;
  font-weight: bolder;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

.sidebar > nav > .menu > li > a > div,
.sidebar > nav > .utilities > li > a > div {
  width: 25px;
  height: 25px;
}

.sidebar > nav > .utilities {
  margin-top: 50px;
}

article {
  height: 100%;
  width: 100%;
  grid-row: 2 / -2;
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: 16fr 5fr;
}

.projects-container {
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
}

.projects-container > h1 {
  font-size: 1.1rem;
  font-style: normal;

  grid-row: 1 / 2;
  display: grid;
  align-items: center;
}

.projects-container > .project-cards-container {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

.project-card {
  background-color: white;
  padding: 20px 10px 0px 15px;
  width: 250px;
  height: 150px;
  border-radius: 6px;
}

.project-card > .card-bio > h6 {
  font-size: 0.9rem;
}

.project-card > .card-bio > p {
  font-size: 0.7rem;
}

.project-card > .card-icons {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  grid-gap: 10px;
}

.project-card > .card-icons > * {
  border-radius: 25px;
}

.star-icon {
  width: 25px;
  height: 25px;
}

.eye-icon {
  width: 25px;
  height: 25px;
}

.share-icon {
  width: 25px;
  height: 25px;
}

.social-media-container {
  padding: 15px;
  background: rgb(231, 231, 231);
  display: grid;
  grid-template-rows: minmax(200px, 1fr) minmax(150px, 1fr);
  grid-template-columns: minmax(250px, 1fr);
}

.social-media-container > .announcements-container {
  width: 90%;
  height: 90%;
  padding: 10px;
  padding-top: 0;
}

.social-media-container > .announcements-container > p {
  height: 50px;
  display: grid;
  align-items: center;
}

.social-media-container > .announcements-container > .card {
  background-color: white;
  border-radius: 5px;
  padding: 15px 0px 10px 20px;
  width: 90%;
  height: calc(100% - 50px);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, max-content) 1px minmax(40px, max-content) 1px minmax(40px, max-content);
  grid-gap: 10px;
}

.social-media-container > .announcements-container > hr {
  justify-self: center;
}

.social-media-container > .announcements-container > .card > .card-part {
  margin-bottom: 10px;
  display: grid;
  align-content: center;

  height: 100%;  
  width: 90%;
}

.social-media-container > .announcements-container > .card > .card-part > h6 {
  font-size: 0.9rem;
  height: fit-content;
}

.social-media-container > .announcements-container > .card > .card-part > p {
  font-size: 0.8rem;
  color: #222222;
}

.social-media-container > .trending-container {
  padding: 10px;
  height: 90%;
  width: 90%;
}

.social-media-container > .trending-container > p {
  height: 50px;
  display: grid;
  align-items: center;
}

.social-media-container > .trending-container > .trending-cards-container {
  height: calc(100% - 50px);
  width: 90%;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 5px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr;
}

.social-media-container
  > .trending-container
  > .trending-cards-container
  > .account-card {
  width: 90%;
  height: 70%;

  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.social-media-container
  > .trending-container
  > .trending-cards-container
  > .account-card
  > .account-image {
  justify-self: center;
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url(../assets/profile-pics/profile-0.jpeg);
  background-size: 100%;
  background-clip: clip;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-media-container
  > .trending-container
  > .trending-cards-container
  > .account-card
  > .account-info {
    margin-left: 15px;
    font-size: 0.8rem;
}

.social-media-container
  > .trending-container
  > .trending-cards-container
  > .account-card
  > .account-info 
  > a
  > p {
    font-size: 0.8rem;
}

.social-media-container
  > .trending-container
  > .trending-cards-container
  > .account-card
  > .account-info 
  > a
  > p:nth-child(2) {
    font-size: 0.75rem;
}

footer {
  background-color: lightgray;
  height: 100%;
  width: 100%;
  grid-row: -2 / -1;
  grid-column: 2 / -1;

  display: grid;
  align-items: center;
  text-align: center;
}

footer > p > a {
  font-style: italic;
}
